@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic-ext);
body {
  min-width: 320px;
  margin: 0;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 21px;
}
html,
body,
.b-page {
  height: 100%;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
.b-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-content p {
  font-size: 14px;
}
.b-footer {
  font-family: 'Roboto Condensed', sans-serif;
  border-top: 1px solid #000;
  position: relative;
  margin-top: -100px;
  height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
}
.b-footer__content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 20px 0;
}
.b-header {
  border-bottom: 1px solid #000;
  font-family: 'Roboto Condensed', sans-serif;
}
.b-header__content {
  zoom: 1;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}
.b-header__content:before,
.b-header__content:after {
  content: "";
  display: table;
}
.b-header__content:after {
  clear: both;
}
.b-icon {
  display: block;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.b-icon:hover {
  opacity: 1;
}
.b-icon_type_menu {
  display: none;
  margin-right: 20px;
  opacity: .6;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  position: relative;
  cursor: pointer;
}
.b-icon_type_menu:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  margin-top: -1.5px;
  background: #000;
}
.b-icon_type_menu-hide {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  background: url(../images/strelka.png);
  background-size: 100% 100%;
  opacity: .6;
  cursor: pointer;
  display: none;
  float: right;
}
.b-logo {
  width: 100px;
  height: 100px;
  display: block;
  background: url(../images/b-logo.png);
  background-size: 100% 100%;
  float: left;
}
.b-main {
  padding-bottom: 100px;
  position: relative;
  -webkit-transition: margin-left 0.3s linear;
  -moz-transition: margin-left 0.3s linear;
  -o-transition: margin-left 0.3s linear;
  transition: margin-left 0.3s linear;
}
.b-menu {
  text-align: justify;
  overflow: hidden;
  height: 30px;
  margin: 0;
  padding: 0;
}
.b-menu:after {
  content: "1";
  margin-left: 100%;
  height: 1px;
  overflow: hidden;
  display: inline-block;
}
.b-menu__item {
  display: inline;
}
.b-menu__item .b-link {
  display: inline-block;
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  line-height: normal;
  opacity: .6;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.b-menu__item .b-link:hover {
  opacity: 1;
}
.b-menu__item .b-link_state_active {
  text-decoration: none;
  opacity: 1;
}
.b-menu_type_header {
  height: 100px;
  margin: 0 0 0 150px;
  line-height: 100px;
}
.b-menu_type_header .b-link {
  font-size: 20px;
}
.b-menu_type_header .b-logo {
  display: none;
}
.b-menu_type_footer {
  margin-bottom: 10px;
}
.b-wrap {
  min-height: 100%;
  overflow: hidden;
}
@media (min-width: 0) and (max-width: 500px) {
  .b-header .b-logo {
    width: 60px;
    height: 60px;
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  .b-header .b-icon_type_menu {
    display: inline-block;
  }
  .b-header .b-menu {
    margin: 0;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 100%;
    width: 100%;
    background: #fff;
    border-right: 1px solid #000;
    height: 100%;
    line-height: normal;
    -webkit-transition: left 0.3s linear;
    -moz-transition: left 0.3s linear;
    -o-transition: left 0.3s linear;
    transition: left 0.3s linear;
  }
  .b-header .b-menu__item {
    display: block;
    border-bottom: 1px solid #000;
  }
  .b-header .b-menu__item .b-link {
    display: block;
    height: 70px;
    padding-left: 20px;
    line-height: 70px;
    background: #eee;
    text-decoration: none;
  }
  .b-header .b-menu__item .b-logo {
    display: block;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
  .b-header .b-menu__item:first-child {
    zoom: 1;
    padding: 20px 20px;
    height: 101px;
    background: #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .b-header .b-menu__item:first-child:before,
  .b-header .b-menu__item:first-child:after {
    content: "";
    display: table;
  }
  .b-header .b-menu__item:first-child:after {
    clear: both;
  }
  .b-footer .b-menu__item .b-link {
    font-size: 14px;
  }
}
@media (min-width: 501px) and (max-width: 700px) {
  .b-header .b-menu__item .b-link,
  .b-footer .b-menu__item .b-link {
    font-size: 14px;
  }
  .b-header .b-logo {
    width: 70px;
    height: 70px;
  }
  .b-header .b-menu {
    line-height: 70px;
    height: 70px;
    margin-left: 100px;
  }
}
